@import "https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600|Playfair+Display:900i";
/* line 27, ../sass/_vars.scss */
html,
body {
  font-size: 100%;
}

/* line 188, ../sass/_vars.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ---------- *\
BODY
\* ---------- */
/* line 8, ../sass/screen.scss */
body {
  padding-top: 70px;
}

/* ---------- *\
GRID DEMO
\* ---------- */
/* line 17, ../sass/screen.scss */
.grid-demo .row div {
  background-color: #DEDEDE;
  border: 1px solid #FFF;
  padding: 1rem;
}

/* ---------- *\
STICKY TABLES DEMO
\* ---------- */
/* line 32, ../sass/screen.scss */
.fht-default table {
  margin: 0;
}
/* line 38, ../sass/screen.scss */
.fht-default .fht-thead th, .fht-default .fht-thead td,
.fht-default .fht-tfoot th,
.fht-default .fht-tfoot td {
  background-color: #EFEFEF;
}
/* line 43, ../sass/screen.scss */
.fht-default .fht-tbody {
  overflow: hidden;
  overflow-y: scroll;
}

/* ---------- *\
SEANS EXAMPLE FORM
\* ---------- */
/* line 56, ../sass/screen.scss */
#exampleForm_BODY {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 61, ../sass/screen.scss */
#exampleForm_BODY li {
  border-bottom: 1px solid #CCC;
  display: block;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
/* line 67, ../sass/screen.scss */
#exampleForm_BODY li:last-child {
  border: none;
  margin-bottom: 0;
}

/* line 78, ../sass/screen.scss */
.article-teaser .card-header {
  line-height: 1.4rem;
}
/* line 81, ../sass/screen.scss */
.article-teaser .card-header .profile-avatar {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  float: left;
  height: 3rem;
  margin: 0 1rem 0 0;
  width: auto;
}
@media (min-width: 768px) {
  /* line 81, ../sass/screen.scss */
  .article-teaser .card-header .profile-avatar {
    height: 4rem;
  }
}
/* line 93, ../sass/screen.scss */
.article-teaser .card-header span {
  display: block;
  overflow: hidden;
}
/* line 97, ../sass/screen.scss */
.article-teaser .card-header span small {
  color: #999;
  display: block;
}
